<div class="container-fluid app-content-container">
  <div class="row app-content-row">
    <div class="col-6 app-content-col">
      <app-speed-chart
        [width]="fiftyWidth"
        [height]="fiftyHeight"
        [data]="speedData"
      ></app-speed-chart>
    </div>
    <div class="col-6 app-content-col">
      <app-temp-chart
        [width]="fiftyWidth"
        [height]="fiftyHeight"
        [data]="temperatureData"
      ></app-temp-chart>
    </div>
  </div>
  <div class="row app-content-row">
    <div class="col-6 app-content-col">
      <app-step-chart
        [width]="fiftyWidth"
        [height]="fiftyHeight"
        [data]="stepData"
      ></app-step-chart>
    </div>
    <div class="col-6 app-content-col">
      <app-date-table [data]="tableData"></app-date-table>
    </div>
  </div>
</div>
