<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Machine Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex">
        <label class="me-2 text-warning d-flex align-items-center"
          >Filter by</label
        >
        <input
          class="form-control me-2 w-200"
          type="search"
          placeholder="rpm, step, temperature, date register..."
          aria-label="Search"
        />
        <button class="btn btn-outline-success">Search</button>
      </form>
    </div>
  </div>
</nav>
